@charset "utf-8";
/*!
 * GC Web Usability theme v1.0rc4 / Thème de la facilité d'emploi GC v1.0rc4
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
 * Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
 */

@media screen,print {
	/** Render invisible **/
	#cn-gcnb h2, #cn-search-box label, #cn-psnb h2, #cn-sft h3, #cn-bc h2, #cn-search-box h2, #cn-gcft h3 {position: absolute; clip: rect(1px, 1px, 1px, 1px); height: 1px !important; width: 1px !important; overflow: hidden !important; margin: 0 !important;}

	#cn-bc li {margin-left: -10px; padding-right: 5px;*clear: expression(((this.previousSibling==null)?(style.paddingLeft='0',style.paddingRight='0',style.marginLeft='auto',style.background='none'):(style.paddingLeft='11px',style.paddingRight='0',style.marginLeft='auto')),style.clear = "none", 0);}
}

/** Screen-only CSS **/
@media screen {
	#cn-cols-inner,#cn-aside {position:static;}

	.cn-left-col-default li a{display: inline-block;}
	.cn-left-col-default li a.nav-current{display:block;}
	.cn-left-col-default .top-level {padding:2px 4px;}
	.cn-left-col-default .nav-current {padding:1px 3px;}
	.cn-left-col-default h3 {*clear: expression(((this.nextSibling.tagName=="UL")?(style.background='#DDDDDD'):(style.width='auto')),style.clear = "none", 0);}
	.cn-minister ul {padding-bottom: 16px;}
}

/** Print-only CSS **/
@media print {
}